@use '../mixins/responsive.scss' as *;
.article{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.article-me{
    position: relative;
    height: 100vh;
    background: linear-gradient(to top, var( --gradient-color), white);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 2%;

    @include responsive(desktop) {
     flex-direction: row-reverse;
     text-align: left;
     justify-content: center; 
     padding-top: 20vh;  
    }

    &__description{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
       
        @include responsive(tablet) {
            font-size: 1.4rem;
            width: 75%;
        }
        @include responsive(desktop) {
            width: 40%;
        }
    }
    &__title{
        color: var(--primary-color);
    }
    &__image{
        width: 70%;
       
        margin-right: auto;
        margin-left: auto;
        transform-origin:center;
        animation: rotar 20s infinite linear;
        @include responsive(desktop) {
            width: 30%;
        }
       
    }
}
@keyframes rotar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.mancha{
    position: absolute;
    top: -25%;
    right: 0;
    z-index: 100;opacity: 0.5;

}