@use '../mixins/responsive.scss' as *;


.works{
    height: 100vh;
    display: flex;
    overflow:scroll ; 

    &__section{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 2rem;
        padding-bottom: 1rem;
        padding-left: 10%;
        @include responsive (tablet){
            font-size: 3rem;
            padding-bottom: 3rem;
            padding-left: 10%;
        }

    }
    &__title{
        font-size: 3rem;
        text-align: right;
        margin-right: 0;
        margin-left: 0;
        @include responsive (tablet){
            font-size: 4rem;
        }
    }
    &__content{
        writing-mode:horizontal-tb;
        transform: rotate(180deg);
        font-size: 1rem;
        margin: 0;
        min-width:0;
        width: 0;
        padding: 0;
        overflow:hidden;
        transition:min-width .4s, padding .4s;

    }
    &__content--show{
        min-width:280px;
        padding-left: 1rem;
        padding-right: 1rem;
        
        @include responsive (desktop){
            min-width: 600px;
            padding-left: 3rem;
        }
    }

    &__section-1{
        background-color: var(--gray-light);
        color: var(--white);
    }
    &__section-2{
        background-color: var(--secondary-color);
        color: var(--black);
    }
    &__section-3{
        background-color: var(--primary-color);
        color: var(--gray-light);
    }
    &__section-4{
        background-color: var(--black);
        color: var(--title-color);
    }
    &__section-5{
        background-color: var(--title-color);
        color: var(--secondary-color);
    }
    &__section-6{
        background-color: var(--white);
        color: var(--primary-color);
    }
   
}
.work-image{
    margin-bottom: 1rem;
    border-radius: 1rem;
}