@use '../mixins/responsive.scss' as *;
@use '../mixins/responsive.scss' as *;

.article-skills{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, var( --title-color),white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7%;
    @include responsive(tablet) {
        flex-direction: row;
    }
    @include responsive(desktop) {
        flex-direction: row;
    }
    
    &__container{
        width: 250px;
        height: 250px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        animation: scale 20s  infinite alternate-reverse;
        @include responsive(tablet) {
            width: 350px;
            height: 350px;
        }
        @include responsive(desktop) {
            width: 350px;
            height: 350px;
        }
    }
    &__web{
        background-color: rgba(110, 178, 255, 0.346);
    }
    &__design{
        background-color: rgba(255, 133, 247, 0.271);
    }

    &__title{
        font-size: 1rem;
    }
    &__text{
        font-size: 1rem;
        @include responsive(tablet) {
            font-size: 1.2rem;
        }
        @include responsive(desktop) {
           font-size: 1.5rem;
        }

    }

}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }

}