@use '../mixins/responsive.scss' as *;

.menu-icons {
  position: absolute;
  top: 20px;
  left: 85vw;
  width: 100%;
  @include responsive(tablet) {
    top: 30px;
    left: 90vw;
  }
  @include responsive(desktop) {
    top: 50px;
    left: 95vw;
  }
}
.menu-icon {
  width: 35px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 40px;
  width: 80%;
  height: 200px;
  background-image: url(../assets/images/menu-cloud.png);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  transform: translate(-50%, 100%);
  transition: transform 1s, opacity 2s;
  opacity: 0.2;

  @include responsive(tablet) {
    font-size: 1.5rem;
    width: 60%;
    top: 100px;
    transform: translate(-50%, 85%);
  }
  @include responsive(desktop) {
    font-size: 2rem;
    width: 50%;
    height: 100%;
    padding-top: 10%;
  }
}

.menu--show {
  opacity: 1;
  transform: translate(-50%, 0%);
}

.menu {
  &__close {
    position: absolute;
    top: 100px;
  }
  &__item--work {
    display: flex;
    gap: 15%;
    align-items: center;
    margin-left: 28%;
    @include responsive(tablet) {
      margin-left: 25%;
    }
    @include responsive(desktop) {
      margin-left: 30%;
    }
  }
}

.icon-arrow,
.icon-arrow-reverse {
  width: 3rem;
  border-radius: 100%;

  @include responsive(tablet) {
    width: 4rem;
  }
  @include responsive(desktop) {
    width: 6rem;
  }
}
.icon-arrow-reverse {
  position: absolute;
  top: 10%;
  left: 14%;
  transform: rotate(180deg);
  @include responsive(tablet) {
    top: 17%;
  }
  @include responsive(desktop) {
    top: 25%;
  }
}

.submenu {
  position: absolute;
  top: 0;
  left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 200px;
  background-image: url(../assets/images/menu-cloud-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  transform: translateY(125%);
  transition: transform 2s, opacity 2s;
  opacity: 0.2;

  @include responsive(tablet) {
    transform: translateY(80%);
  }
  @include responsive(desktop) {
    transform: translateY(90%);
  }
  &__item {
    color: blue;
  }
}

.submenu--show {
  transform: translateY(0);
  opacity: 1;
}
