:root {
  /* Variables CSS */
  --primary-color: #74c362;
  --secondary-color: #DB689C;
  --gray-light: #ECE6E3;
  --gray-dark: #74788B;
  --black: #1C1B1E;
  --title-color: #EDF10D;
}

/* Variables SASS */
