:root {
  /* Variables CSS */
  --primary-color: #1466CF;
  --gradient-color: #539FFF;
  --secondary-color: #F9C5FA;
  --gray-light: #D9D9D9;
  // --gray-dark: #D9D9D9;
  --black: black;
  --white: white;
  --title-color: #F7FC04;
}

/* Variables SASS */
