@use 'base/normalize.scss';
@use 'base/initial-reset.scss';
@use 'config/fonts.scss';
@use 'config/variables.scss';
@use 'blocks/body.scss';
@use 'blocks/titles.scss';
@use 'blocks/texts.scss';
@use 'blocks/buttons.scss';
@use 'blocks/name.scss';
@use 'blocks/header.scss';
@use 'blocks/main.scss';
@use 'blocks/article-me.scss';
@use 'blocks/article-about.scss';
@use 'blocks/article-work.scss';
@use 'blocks/article-contact.scss';
@use 'blocks/title-spray.scss';
@use 'blocks/footer.scss';
@use 'blocks/menu.scss';
@use 'blocks/logo.scss';